<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings> 
		<add key="daemonpath" value="C:\Users\k\Documents\IOC\IOC_Daemon\iocoind.exe" />
		<add key="appdatadir" value="C:\Users\k\Documents\IOC\IOC" /> 
		<add key="configfilepath" value="C:\Users\k\Documents\IOC\IOC\iocoin.conf" />
		<add key="walletpassphrase" value="passphrase" />
		<add key="notificationaddress" value="http://localhost:8000/" />

		<add key="addnodes" value="amer.supernode.iocoin.io,emea.supernode.iocoin.io,apac.supernode.iocoin.io" />
		<add key="updateintervalMin" value="20" />

	</appSettings>
</configuration>